<div class="container">
    <nav class="nav">
<a routerLink="/home" class="nav nav-link">Home</a>
<a routerLink="/dashboard" class="nav nav-link">Dashboard</a>
<a routerLink="/signup" class="nav nav-link">Sign Up</a>
<a routerLink="/signin" class="nav nav-link">Sign In</a>
<a routerLink="/templateform" class="nav nav-link">Template Dirven Form</a>
<a routerLink="/reactiveform" class="nav nav-link">Reactive Form</a>
<a routerLink="/stepperform" class="nav nav-link">Stepper Form</a>
<a routerLink="/behavior" class="nav nav-link">Behavior</a>
</nav>
</div>
<div class="container mt-3">
    <div class="row">
    <div class="col-6 shadow">
        <div class="text-center">
            <h6 class="text-info"> Add Up</h6>
         </div>
        <div class="col-8 mx-auto align-items-center">
            <input type="text" class="form-control" [(ngModel)]="first_name" placeholder="first_name">
            <input type="text" class="form-control mt-2 my-2 col-3" [(ngModel)]="lastname" placeholder="lastname">
            <input type="text" class="form-control mt-2 my-2 col-3" [(ngModel)]="email" placeholder="email">
            <input type="text" class="form-control mt-2 my-2 col-3" [(ngModel)]="phone_number" placeholder="phone_number">
            <input type="text" class="form-control mt-2 my-2 col-3" [(ngModel)]="address" placeholder="address">
            <input type="text" class="form-control mt-2 my-2 col-3" [(ngModel)]="gender" placeholder="gender">
            <div class="d-flex  align-items-center">
            <button (click)="addContact()" class="btn btn-success my-3 px-3 ">Add</button>
         </div>    
        </div>

    </div>

    <div class="col-6 shadow">
    <div *ngFor="let contactinterface of contactarray, let i=index" class="row my-2">
        <div class="col-3 my-2">
       <div>{{contactinterface.firstname}}</div>
        </div>
        <div class="col-3 ">
       <button class="btn btn-info" (click)="View(i)">View</button>
        </div>
        <div class="col-3 ">
       <button class="btn btn-info" (click)="Edit(i)">Edit</button>
        </div>
        <div class="col-3 ">
       <button class="btn btn-danger" (click)="del(i)">Delete</button>
        </div>
    </div>
</div>
</div>
</div>


